            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Informações do Requerimento Nº {{solicitation.order}} | Status: {{solicitation.status}}
                        </div>
                        <!-- .panel-heading -->
                        <div class="panel-body">
                           Aluno: {{solicitation.student.usuario.name}}
                           <br>
                           Matrícula: {{solicitation.code}}
                            <br>
                           Período: {{solicitation.student_semester}}
                           <br>
                           Turma: {{solicitation.classs}}
                           <br>
                           Situação Acadêmica: {{solicitation.student_academic_situation}}
                           <br>
                           Solicitação: {{solicitation.solicitation}}
                           <br>
                           Justificativa: {{solicitation.reason}}
                           <br>

                        {% for feedback in solicitation.feedbacks.all %}
                            {% if feedback.feedbacker.usuario.is_secretary %}
                                <div class="panel-body">
                                    <b>Parecer da Secretaria:</b> <br>
                                    {{feedback}}
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% for feedback in solicitation.feedbacks.all %}
                            {% if feedback.feedbacker.usuario.is_library %}
                                <div class="panel-body">
                                    <b>Parecer da Biblioteca:</b> <br>
                                    {{feedback}}
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% for feedback in solicitation.feedbacks.all %}
                            {% if feedback.feedbacker.usuario.is_finance %}
                                <div class="panel-body">
                                    <b>Parecer do Financeiro:</b> <br>
                                    {{feedback}}
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% for feedback in solicitation.feedbacks.all %}
                            {% if feedback.feedbacker.usuario.is_napes %}
                                <div class="panel-body">
                                    <b>Parecer do NAPES:</b> <br>
                                    {{feedback}}
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% for feedback in solicitation.feedbacks.all %}
                            {% if feedback.feedbacker.usuario.is_director %}
                                <div class="panel-body">
                                    <b>Parecer da Direção:</b> <br>
                                    {{feedback}}
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% for feedback in solicitation.feedbacks.all %}
                            {% if feedback.feedbacker.usuario.is_coordination %}
                                <div class="panel-body">
                                    <b>Parecer da Coordenação:</b> <br>
                                    {{feedback}}
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% for feedback in solicitation.feedbacks.all %}
                            {% if feedback.feedbacker.usuario.is_caa %}
                                <div class="panel-body">
                                    <b>Parecer da CAA:</b> <br>
                                    {{feedback}}
                                </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                        <!-- .panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>